.team-grid {
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "info logo" "stadium stadium";
}

.info {
    grid-area: info;
}

.logo {
    grid-area: logo;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stadium {
    grid-area: stadium;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
}

img#logo {
    height: 220px;
}

img#stadium {
    height: 100%;
    border-radius: 12px;
}