<!-- <ul>
    <li><a routerLink="/">Start</a></li>
    <li><a routerLink="/team">Team</a></li>
    <li><a routerLink="/squad">Squad</a></li>
</ul> -->

<nav mat-tab-nav-bar>
    <a mat-tab-link routerLink="/">Start</a>
    <a mat-tab-link routerLink="/team">Team</a>
    <a mat-tab-link routerLink="/squad">Squad</a>
</nav>

<h2>Current search: {{currentSearch}}</h2>

<!-- <mat-tab-group mat-align-tabs="start">
    <mat-tab label="Start">
        <li><a routerLink="/">Start</a></li>
    </mat-tab>
    <mat-tab label="Team">Content 2</mat-tab>
    <mat-tab label="Squad">Content 3</mat-tab>
</mat-tab-group> -->