<h1>{{teamName}} Squad</h1>

<div *ngIf="validSearch">
    <h1>Goalkeepers</h1>
    <app-player-card [position]="goalkeepers"></app-player-card>

    <h1>Defenders</h1>
    <app-player-card [position]="defenders"></app-player-card>

    <h1>Midfielders</h1>
    <app-player-card [position]="midfielders"></app-player-card>

    <h1>Attackers</h1>
    <app-player-card [position]="attackers"></app-player-card>
</div>

<div *ngIf="!validSearch">
    <h1>You have not searched for any team yet</h1>
</div>

<div *ngIf="errorOccurred">
    <p>Something went wrong...</p>
</div>